APP_DOMAIN=web.domen.ru
APP_HOST=0.0.0.0
APP_PORT=9292
APP_CRYPT_KEY=
REMNAWAVE_HOST=remna.st
REMNAWAVE_TOKEN=
REMNAWAVE_WEBHOOK_SECRET=
DATABASE_HOST=remnashop-db
DATABASE_PORT=5432
DATABASE_NAME=crabikweb
DATABASE_USER=remnashop
DATABASE_PASSWORD=
#REDIS?