.App {
  text-align: center;
}
<<<<<<< HEAD
:root {
  --bg-color: #1e1e3f; /* deep indigo */
  --text-color: #e0e0ff; /* light blueish */
  --accent-color: #ff7f00; /* orange accent */
  --button-bg: var(--accent-color);
  --button-color: #1e1e3f;
}

=======
>>>>>>> 07fe572209f3eaf6d8f98f340e610042309454bf

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
